@import "fonts.css";

*{margin:0; padding:0; font-size: 10px; vertical-align: top; border:0; text-decoration: none;
    font-family:'AppleSDGothicNeo-Regular', 'nanumBarunGothic-regular'; line-height: 120%;-webkit-tap-highlight-color: rgba(0,0,0,0); box-sizing:border-box; vertical-align: top; color:#000;letter-spacing:0px;}
    _::-webkit-full-page-media, _:future, :root * { letter-spacing: -0.05rem;}
    _::-webkit-full-page-media, _:future, :root body {-webkit-text-size-adjust: 107%;}

    ul, li {list-style: none;} 
    img {width:100%;}
    br {line-height: 0px;}
    h1, h2 {font-weight: normal;}
    
.ultraLight {font-family: 'AppleSDGothicNeo-UltraLight', 'nanumBarunGothic-ultraLight';}
.light {font-family: 'AppleSDGothicNeo-Light', 'nanumBarunGothic-light';}
strong,b,.bold {font-family: 'AppleSDGothicNeo-Bold', 'nanumBarunGothic-bold'; font-weight: normal}

.wrap {padding-bottom: 50px; position: relative;background-position:right 51px; background-repeat: no-repeat;}
.wrap > * {width: 91%; margin: 0 auto;}
.wrap.hasBanner {padding-top: 116px;}

section.card {background: #fff; border-radius: 10px; margin-top: 20px; padding: 18px 0 8px;box-shadow: 0px 10px 20px rgba(0,0,0,0.2); position: relative;animation:cardTouchOut ease-out 0.2s forwards;}
section.card.touch {animation:cardTouch ease-out 0.2s forwards;}
section.card a.link {position: absolute; top:0px; left:0px; right:0px; bottom:0px; z-index: 10;}
section.card a.link {z-index: 1009;}
section.card h1 {color:#666666; font-size: 1.6rem; font-weight: normal; margin:0 15px;position: relative; }

svg rect.grade5 {fill: url(#mainGradient_grade5);}
svg rect.grade4 {fill: url(#mainGradient_grade4);}
svg rect.grade3 {fill: url(#mainGradient_grade3);}
svg rect.grade2 {fill: url(#mainGradient_grade2);}
svg rect.grade1 {fill: url(#mainGradient_grade1);}
svg rect.ghost {fill: url(#mainGradient_ghost);}
svg rect.zero {fill: #aaacb3;}
svg rect.default {fill: #f7f7f7;}

.stop-left-ghost {stop-color: #c5cad4;}
.stop-right-ghost {stop-color: #d0d3db;}
.stop-left-grade5 {stop-color: #21c6a0;}
.stop-right-grade5 {stop-color: #3bd894;}
.stop-left-grade4 {stop-color: #85d21a;}
.stop-right-grade4 {stop-color: #b7e91f;}
.stop-left-grade3 {stop-color: #e8ba02;}
.stop-right-grade3 {stop-color: #f8d325;}
.stop-left-grade2 {stop-color: #f0740f;}
.stop-right-grade2 {stop-color: #ff9642;}
.stop-left-grade1 {stop-color: #e9514e;}
.stop-right-grade1 {stop-color: #fb6d6a;}
.stop-left-gray {stop-color: #c5cad4;}
.stop-right-gray {stop-color: #d0d3db;}

.grade0_45deg {background: linear-gradient(#f5f5f5,#f5f5f5);}
.grade1_45deg {background: linear-gradient(#fa5955,#ed2c28);}
.grade2_45deg {background: linear-gradient(#ff9642,#f0740f);}
.grade3_45deg {background: linear-gradient(#f8d325,#e8ba02);}
.grade4_45deg {background: linear-gradient(#b7e91f,#85d21a);}
.grade5_45deg {background: linear-gradient(#3bd894,#21c6a0);}

.grade0_color {color: #e5e5e5}
.grade1_color {color: #f65f5c}
.grade2_color {color: #f78157}
.grade3_color {color: #ebb535}
.grade4_color {color: #99d91d}
.grade5_color {color: #1dc89f}